@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    font-family: "Poppins";
}


/* NavBar */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 16%;
    background-color: #5571FE;
    position: fixed;
    height: 100%;
    overflow: auto;
    float: left;
}

li h1 {
    display:flex;
    font-size: 30px;
    color: white;
    padding-top: 30px;
    padding-bottom: 30px;
}

li h1 img {
    padding-left: 15px;
    padding-right: 20px;
    height: 40px;
    width: 40px;
}

li img {
    height: 25px;
    width: 25px;
    padding-right: 10px;
}

li a {
    display: block;
    color: white;
    padding: 8px 16px;
    text-decoration: none;
    font-size: 25px;
    margin-top: 15px;
    margin-bottom: 15px;
}
  
li a.active {
    background-color: #8699fa;
    color: white;
}
  
li a:hover:not(.active) {
    background-color: #8699fa;
}

li b{
    display: block;
    color: white;
    padding: 8px 16px;
    text-decoration: none;
    font-size: 25px;
    /* margin-top: 350px; */
    /* margin-bottom: 15px; */
    font-weight: normal;
}

.ul2{
    margin-top: 20%;
}

/* NavBar End */


/* Hero */
div {
    width: 84%;
    float: right;
    background-color: #daddea;
}

div h1 {
    padding: 2%;
    font: 36px;
}

.container{
    padding: 1%;
}

.box1{
    width: 29%;
    height: 29%;
    display: flexbox;
    box-shadow: 15px 15px 15px rgba(0,0,0,0.2);
    justify-content: center;
    align-items: center;
    padding: 1%;
    margin-left: 2%;
    margin-bottom: 10px;
    background-color: white;
    border-radius: 15px;
}

.box1 h2{
    text-align: center;
}

.boxadd{
    width: 29%;
    box-shadow: 15px 15px 15px rgba(0,0,0,0.2);
    padding: 1%;
    margin-left: 2%;
    margin-bottom: 10px;
    background-color: #4caf51;
    border-radius: 15px;
    text-align: center;
}

.bold{
    font-weight: 800;
}

.task{
    width: 75%;
    display: inline-block;
}

.task_num{
    width: 8%;
    display: inline-block;
    color: red;
}

.task_T{
    width: 17%;
    display: inline-block;
}

/* Hero End*/