@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: "Poppins";
    list-style: none;
    text-decoration: none;
}

.all{
    display: flex;
    flex-direction: row;
}
/* NavBar Laptop*/

.sidebar{
    display:flex;
    position: fixed ;
    /* position:fixed; */
    /* left: 0; */
    width: 20%;
    height: 100vh;
    padding: 0;
    margin: 0;
    background: #5571FE;
    flex-direction: column;
    /* align-items: center; */
}

.sidebar header{
    display: flex;
    width: 100%;
    margin-top: 25px;
    margin-bottom: 75px;
    font-size: 32px;
    color: #FAF7F0;
    justify-content: center;
    /* line-height: 70px; */
    user-select: none;
    align-items: center;
    display: flex;
}
.sidebar header img {
    /* padding-left: 15px; */
    padding-right: 20px;
    height: 50px;
    width: 50px;
}

.sidebar ul a{
    display: block;
    height: 100%;
    width: 100%;
    line-height: 65px;
    color: #FAF7F0;
    font-size: 24px;
    padding-left: 20px;
    box-sizing: border-box;
    transition: .3s;
    flex-wrap: wrap;
}

.sidebar li img {
    height: 30px;
    width: 30px;
    padding-right: 20px;
}

.sidebar li a{
    align-items: center;
    display: flex;
    /* justify-content: center; */
}


.sidebar ul{
    height: 20%;
    
}

.sidebar ul li:hover{
    background-color: rgba(250, 247, 240, 30%);
    transition: .3s;
}

.logOut{
    display: block; 
    width: 100%; 
    box-sizing: border-box;
    transition: .3s;
    margin-top: 90%;
    height: 100%; 
}

.logOut button{
    line-height: 65px;
    padding-left: 20px;
    color: #FAF7F0;
    display: flex;
    align-items: center;
    background-color: #5571FE;
    border: none;
    font-size: 24px;
    width: 100%;
    height: 100%;
}

.logOut button img{
    height: 30px;
    width: 30px;
    padding-right: 20px;
}

.logOut button:hover{
    background-color: rgba(250, 247, 240, 30%);
    transition: .3s;
    cursor: pointer;
}


body{
    background-color: #DADDEA;
}

/* Navbar End */

.mainContainer {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin-left: 20%;
    /* float: right; */
    background-color: #daddea;
}

.Message{
    margin: 2%;
}

/* Project Detail */
.Card {
    margin: 0% 2% 2% 2%;
    padding: 30px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 25px;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.Card h1 {
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    text-align: center;
    padding-bottom: 10px;
}

.details {
    padding-top: 10px;
    margin-right: 5%;
    background-color: white;
}

.details h2 {
    font-weight: normal;
}

.details p {
    font-weight: bolder;
}

.actions {
    margin-right: 5%;
    background-color: white;
}

.searchBar{
    display: flex;
    flex-direction: row;
}

.searchbar form{
    display: flex;
}

.searchbar form input{
    /* width: 100%; */
    padding: 5px 10px;
    margin: 8px 0;
    border: 1px solid;
    border-radius: 0;
}

.searchbar form button{

    padding: 5px 10px;
    margin: 8px 0;
    box-sizing: none;
    background-color: #2E2E2E;
    font-weight: bolder;
    text-align: center;
    color: #FEFEFE;
    cursor: pointer;
    border-style: none;
}

/* Project Detail END*/

/* pop up form */

.overlay {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(0, 0, 0, 0.8);
	visibility: hidden;
	opacity: 0;
}
.overlay:target {
	visibility: visible;
	opacity: 1;
}
.wrapper {
	margin: 70px auto;
	padding: 20px;
	background: white;
	border-radius: 5px;
	width: 30%;
	position: relative;
}
.wrapper h2 {
	margin-top: 0;
	color: #333;
}
.wrapper .close {
	position: absolute;
	top: 20px;
	right: 30px;
	transition: all 200ms;
	font-size: 30px;
	font-weight: bold;
	text-decoration: none;
	color: #333;
}
.wrapper .close:hover {
	color: #06D85F;
}
.wrapper .content {
	max-height: 30%;
	overflow: auto;
}
/*form*/

.container {
	border-radius: 5px;
	background-color: white;
	padding: 20px 0;
}
form label {
	font-weight: 500;
    font-family: "Poppins";
    font-weight: bolder;
}
input[type=text], select, textarea {
	width: 100%;
	padding: 12px;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
	margin-top: 6px;
	margin-bottom: 16px;
	resize: vertical;
}

.buttons{
    display: flex;
    width: 50%;
}

.buttons a{
    background-color: #F8BCBC;
	color: #1C33AA;
    padding: 10px 15px;
	border: none;
	border-radius: 10px;
	cursor: pointer;
	font-size: 15px;
    margin-right: 4%;
}

.buttona[type="submit"] {
    background-color: #BCF8CD;
	color: #1C33AA;
	padding: 10px 15px;
	border: none;
	border-radius: 10px;
	cursor: pointer;
	font-size: 15px;
}

.fields{
    margin: 3%;
}

/* pop up form end */

/* Project Task */

.task-container {
    width: 100%;
    text-align: left;
    margin-bottom: 2%;
    padding-top: 1%;
    padding-bottom: 1%;
}

.header{
    display: flex;
    justify-content: space-between;
    /* padding-top: 1%; */
    padding-left: 2%;
    padding-right: 2%;
    align-items: center;
}

.header h2 {
    /* text-align: left; */
    /* margin-left: 0; */
    font-weight: bold;
    font-size: 24px;
    
}

.header p {
    border-radius: 6px;
    background-color: #BCCEF8;
    color: #1C33AA;
    font-weight: bold;
    font-size: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 20%;
    text-align: center;
}

.body {
    display: flex;
    justify-content: space-between;
    padding-top: 1%;
    padding-left: 2%;
    padding-right: 2%;
    align-items: center;
}

.body form{
    width: 20%;
}

.body button{
    display: flex;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: bold;
    font-size: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    text-align: center;
    justify-content: center;
    border-radius: 6px;
    background-color: #BCF8CD;
    color: #1C33AA;
    cursor: pointer;
    border-style: none;
}



.body p{
    font-weight: medium;
    font-size: 24px;
}

.footer {
    display: flex;
    justify-content: space-between;
    padding-top: 1%;
    padding-left: 2%;
    padding-right: 2%;
    align-items: center;
}

.footer h2{
    /* font-weight: medium; */
    font-size: 18px;
}

.footer form{
    width: 20%;
}

.footer button{
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: bold;
    font-size: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    text-align: center;
    border-radius: 6px;
    background-color: #F8BCBC;
    color: #1C33AA;
    cursor: pointer;
    border-style: none;
}

.button {
    background-color: none;
    position: fixed;
    bottom: 3%;
    right: 3%;
    cursor: pointer;
}

.button img{
    float: right;
    width: 80px;
    height: 80px;
}

/* Project Task END*/