@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: "Poppins";
    list-style: none;
    text-decoration: none;
}
.all{
    display: flex;
    flex-direction: row;
}
/* NavBar Laptop*/

.sidebar{
    display:flex;
    position: fixed ;
    /* position:fixed; */
    /* left: 0; */
    width: 20%;
    height: 100vh;
    padding: 0;
    margin: 0;
    background: #5571FE;
    flex-direction: column;
    /* align-items: center; */
}

.sidebar header{
    display: flex;
    width: 100%;
    margin-top: 25px;
    margin-bottom: 75px;
    font-size: 32px;
    color: #FAF7F0;
    justify-content: center;
    /* line-height: 70px; */
    user-select: none;
    align-items: center;
    display: flex;
}
.sidebar header img {
    /* padding-left: 15px; */
    padding-right: 20px;
    height: 50px;
    width: 50px;
}

.sidebar ul a{
    display: block;
    height: 100%;
    width: 100%;
    line-height: 65px;
    color: #FAF7F0;
    font-size: 24px;
    padding-left: 20px;
    box-sizing: border-box;
    transition: .3s;
    flex-wrap: wrap;
}

.sidebar li img {
    height: 30px;
    width: 30px;
    padding-right: 20px;
}

.sidebar li a{
    align-items: center;
    display: flex;
    /* justify-content: center; */
}


.sidebar ul{
    height: 20%;
    
}

.sidebar ul li:hover{
    background-color: rgba(250, 247, 240, 30%);
    transition: .3s;
}

.logOut{
    display: block; 
    width: 100%; 
    box-sizing: border-box;
    transition: .3s;
    margin-top: 90%;
    height: 100%; 
}

.logOut button{
    line-height: 65px;
    padding-left: 20px;
    color: #FAF7F0;
    display: flex;
    align-items: center;
    background-color: #5571FE;
    border: none;
    font-size: 24px;
    width: 100%;
    height: 100%;
}

.logOut button img{
    height: 30px;
    width: 30px;
    padding-right: 20px;
}

.logOut button:hover{
    background-color: rgba(250, 247, 240, 30%);
    transition: .3s;
    cursor: pointer;
}


body{
    background-color: #DADDEA;
}


/* Hero */
.hero {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin-left: 20%;
    /* float: right; */
    background-color: #daddea;
}

.hero h1 {
    padding: 2%;
    font: 36px;
}

.container {
    /* height: 100%; */
    width: 100%;
    display: flex;
    margin-bottom: 4%;
}

.card {
    display: flex;
    flex-direction: column;
    width: 50%;
    /* height: 100%; */
    /* flex-wrap: nowrap; */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    justify-content:space-between;
    background-color: white;
    border-radius: 25px;
    margin-left: 5%;
    margin-right: 5%;
    text-align: left;
}

.card h3 {
    font-size: 24px;
    font-weight: bold;
}

.card h4 {
    font-size: 64px;
    font-weight: bolder;
    padding-top: 4%;
    padding-bottom: 4%;
}

.card p {
    font-size: 15px;
    font-weight: light;
}

.notif-container {
    width: 100%;
    /* height: 100%; */
}

.notif {
    /* width: 90%; */
    margin-left: 2%;
    margin-right: 2%;
    /* margin-right: 10%; */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    text-align: left;
    border-radius: 25px;
    background-color: white;
    margin-bottom: 2%;
}

.notif h1 {
    font-size: 24px;
    font-weight: bold;
    padding: 0;
}

.notif h2 {
    font-size: 18px;
    font-weight: normal;
}

.notif h3 {
    font-size: 18px;
    font-weight: lighter;
}

.notif-img {
    width: 0;
}

.notif-img img {
    float: right;
    width: 30px;
    height: 30px;
    top: 30px;
}

/* Hero End*/